<div class="container">
  <div class="row">
    <div class ="col-sn-4 col-sn-offset-4">
<h2> Créer un centre </h2>
<%= simple_form_for([@user, @centre]) do |f| %>
  <%= f.input :name, :label => "Nom du centre" %>
  <%= f.input :adresse, :label => "Adresse" %>
  <%= f.input :telephone, :label => "Numéro de téléphone" %>
  <%= f.input :info_diverses, :laber => "Infos diverse"  %>
  <%= f.submit "Créer un centre" %>
<% end %>

    </div>
  </div>
</div>
