<div class="container">
  <div class="row">
    <div class ="col-sn-4 col-sn-offset-4">

<%= simple_form_for(@centre) do |f| %>
  <%= f.input :name %>
  <%= f.input :adresse %>
  <%= f.input :telephone %>
  <%= f.input :info_diverses %>
  <%= f.submit %>
<% end %>

    </div>
  </div>
</div>
