<h1> Tous nos centres de distribution</h1>

<div class="cards-grid">
  <% @centres.each do |centre| %>
    <%= link_to centre_path(centre.id), class: "centre-card" do %>
      <%= image_tag "https://www.ville-erquy.com/wp-content/uploads/logo-les-restaurants-du-coeur-800x450.jpg" %>
      <div class="centre-card-info">
        <h2 class='centre-name'><%= centre.name %></h2>
        <p> <%= centre.adresse %></p>
        <p> <%= centre.telephone %></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_centre_path, class: "centre-card" do %>
    <%= image_tag "https://www.ville-erquy.com/wp-content/uploads/logo-les-restaurants-du-coeur-800x450.jpg" %>
    <div class="centre-card-info">
      <h2>Créer un nouveau centre</h2>
      <i class="fas fa-plus-square"></i>
    </div>
  <% end %>
</div>






